
<div class="list customlistpage">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-action-bar [buttons] = "rightActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><div class="p-0" id="search-container" [ngStyle]="{'width':isMobile && isSearchFocused? '100%':'50%' }">
<div *ngIf="!isMobile" class="col global-search p-3" [ngClass]="{'advance-filter-applied':filtersApplied}">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text show-advanced">
<span class="pi pi-search icon-font"></span>
</span>
</div>
<input type="text" class="form-control" pInputText [placeholder]="'Search' | translate"
(keydown)="onKeydown($event)" [(ngModel)]="filter.globalSearch" />
<div class="input-group-append ">
<span class="input-group-text show-advanced cursor-pointer">
<span class="icon-filter" *ngIf="filter.globalSearch">
        <i class="pi pi-times filter-icon" (click)="clearGlobalSearch()"></i>
    </span>
    <span (click)="toggleAdvancedSearch()" class="advancedsearch-icon" #toggleButton
        *ngIf="tableSearchConfig.showAdvancedSearch">
        <span class="icon-filter">
              <svg class="filter-icon icon-height">
                <use xlink:href="../../../../assets/images/filter.svg#filter-button"></use>
              </svg>
        </span>
    </span>
</span>
</div>
</div>
</div>

<div class="d-flex" *ngIf="isMobile">
<div *ngIf="isMobile" class="search-mobile-container col global-search">
<button class="pi pi-search icon-font search-btn1" (click)="focus()"></button>
<!-- <span>{{isSearchFocused}}</span> -->
<input placeholder='Search' id="mobile-search-icon" class='js-search open' type="text" (keydown)="onKeydown($event)"
[(ngModel)]="filter.globalSearch" [ngClass]="{'open':isSearchFocused}">
<!-- <span [ngClass]="{'search-close':!isSearchFocused}" class="pi pi-times icon-font " style="right:50px" (click)="clearFilters()"></span> -->
</div>
<div class="input-group-append" *ngIf="!isSearchFocused && tableSearchConfig.showAdvancedSearch">
<span class="input-group-text pi pi-sliders-h icon-font px-3 py-3 cursor-pointer"
(click)="toggleAdvancedSearch()" #toggleButton></span>
</div>
<div class="input-group-append" *ngIf="isSearchFocused">
<span class="input-group-text pi pi-times icon-font px-3 py-3 cursor-pointer"
(click)="clearFilters()" ></span>
</div>
</div>

<div class="advanced-search ev-detail-view" *ngIf="(tableSearchConfig.showAdvancedSearch && showAdvancedSearch)" #menu>
<span class="pr-3 pt-0 adv-search-header" [innerHTML]="'Advanced Search'| translate"></span>
<span style="float:right" class="cursor-pointer"><i class="pi pi-times" (click)="toggleAdvancedSearch()"></i></span>
<form [formGroup]="tableSearchControls" (ngSubmit)="advancedSearch()" class="ev-form">
<div class="row form-body">
<div class="form-row vg-col-2">
<div class="form-col" [hidden]="hiddenFields.employeeName" id="employeeName">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.employeeName?.isRequired, 'error':inValidFields.employeeName}">
        <label for="employeeName" class="col-form-label employeeName-label" [textContent]=" 'EMPLOYEE_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.employeeName?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.employeeName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="employeeName" [placeholder]="tableSearchFieldConfig?.employeeName?.placeHolder || ''"
[maxlength]="tableSearchFieldConfig?.employeeName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.employeeName?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.department" id="department">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.department?.isRequired, 'error':inValidFields.department}">
        <label for="department" class="col-form-label department-label" [textContent]="'DEPARTMENT'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.department?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.department?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.department?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="department" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemstableSearchdepartment" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletetableSearchdepartment('department')"   (completeMethod)="autoSuggestSearchtableSearchdepartment($event,tableSearchFieldConfig?.department)"
            [multiple]="tableSearchFieldConfig?.department?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemstableSearchdepartment = []; isAutoSuggestCallFiredtableSearchdepartment = false;" [field]="(tableSearchFieldConfig?.department?.displayField)"
             (onSelect)="onSelect($event,'department',tableSearchFieldConfig?.department)" (onUnselect)="unSelect($event,'department',tableSearchFieldConfig?.department?.multiple)" appendTo="body"
(onClear)="unSelect($event,'department',tableSearchFieldConfig?.department?.multiple)">
<ng-template let-item pTemplate="item">
<div [innerHTML]="formatAutoComplete(item,tableSearchFieldConfig?.department?.displayField,'department')"></div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.department?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.status" id="status">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.status?.isRequired, 'error':inValidFields.status}">
        <label for="status" class="col-form-label status-label" [textContent]="'STATUS'|translate"></label>  
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.status?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.status?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>                      
        <p-dropdown [options]="tableSearchFieldConfig.status?.options" formControlName="status"  [showClear]="!tableSearchControls.controls.status.value?false:true" optionLabel="value" optionValue="label" [placeholder]="tableSearchFieldConfig?.status?.placeHolder || 'Select'"  styleClass = "dropdown" appendTo="body" [ngClass]="{'dropdown-disabled': getDisabled(tableSearchControls,'status')}">
            <ng-template pTemplate="selectedItem">
                <ng-template #statusSelectedRef let-conditions="conditions" let-option="option">
                    <div class="selected-item" [ngStyle]="conditions?.cellStyle">
                        <img [src]="conditions?.image" class="img" *ngIf="conditions?.image"/>
                        <span  
                            *ngIf="conditions?.iconClass" class="icon"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass"></i>
                
                        </span>
                        <div class="value" *ngIf="!conditions || (conditions && conditions?.showText)">{{option.label| translate}}</div>
                    </div>
                </ng-template>
                <ng-container *ngIf="getValue(tableSearchControls,'status'); let selected;">
                    <ng-template *ngTemplateOutlet="statusSelectedRef;context:{conditions :tableSearchFieldConfig.status?.optionConditions?.[(getSelectedObject(selected,tableSearchFieldConfig.status?.options)).value], option:(getSelectedObject(selected,tableSearchFieldConfig.status?.options))}"></ng-template>
                </ng-container>
            </ng-template>
        
            <ng-template let-dropdownItem pTemplate="item" >
                <ng-template #statusListRef let-conditions="conditions" let-option="option">
                    <div class="select-list-item" [ngStyle]="conditions?.cellStyle">                    
                        <img [src]="conditions?.image" class="list-image" *ngIf="conditions?.image" />
                        <span
                            *ngIf="conditions?.iconClass"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass" ></i>
        
                        </span>
                        <div *ngIf="!conditions || (conditions && conditions?.showText)">{{option.label| translate}}</div>
                    </div>
                </ng-template>
        
                <ng-container>
                    <ng-template *ngTemplateOutlet="statusListRef;context:{conditions :tableSearchFieldConfig.status?.optionConditions?.[dropdownItem.value], option:dropdownItem}"></ng-template>
                </ng-container>
            </ng-template>
        </p-dropdown>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.status?.helpText || ''}}</div>
    </div>
</div>
</div>
</div>
<div class="search-actions">
<div>
<button type="button" class="btn btn-secondary search-btn" (click)="clearFilterValues()">Clear
Filter</button>
</div>
<div >
<div class="btn-group mr-0" role="group">
<button type="button" class="btn btn-secondary search-btn"
(click)="toggleAdvancedSearch()">Cancel</button>
<button type="submit" class="btn btn-primary search-btn search-btn-primary">Search</button>
</div>
</div>
</div>

</form>
</div>
</div>
    </div>
</div><div class="row" id="filter-container" *ngIf="quickFilterConfig?.children?.length > 0">
    <div class="quick-filters ev-detail-view">
        <form [formGroup]="quickFilterControls">
             <div class="row align-filter" [ngClass]="quickFilterConfig.style ==='style_2'? 'rowfiltercolumnfilter':'columnfilter'">
                
            </div>
        </form>
    </div>
</div><app-grid [gridConfig]="gridConfig" *ngIf="gridConfig" [ngClass]="this.tableConfig.viewAs === 'card' ? 'gridsterList' : ''"  class="{{tableConfig.tableStyle}}"></app-grid>

</div>
