@import "../../../sass-base/base-variables";

.ev-detail-view{
    padding-bottom: 0;
}

.form-col,
.ev-form{
    padding: 0 !important;
}
.align-right{
    text-align: right;
    width: 100%;
    display: block !important;
    margin-top:20px;
    margin-bottom: 0px !important;
}

.p-button:enabled:hover {
    background-color:$primary-color;
}
