<div class="login-container">
    <div class="login-wrapper">
        <div class="">
            <div class="col" *ngIf="authService.isAuthenticating">
                <div>Authenticating User</div>
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            </div>
            <div class="row" *ngIf="!authService.isAuthenticating">
                <div class="login-header">
                    <h4>
                        <p>Login</p>
                        <span>Login to Get Started</span>
                    </h4>
                </div>
                <div class="col-12">
                    <div class="d-flex btns">
                        <button class="btn btn-primary btn-block sign-in-btn" (click)="authenticate()">
                            <span>
                                Sign in with Google
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>