#search-container{
    margin-left: auto;
}

.status{
    .condition-0{
        background-color : #ffffff;
        .conditional{
            background-color : rgba(26,115,232,0.15);
            color : #1a73e8;
            text-align : center;
        }
    }
    .condition-1{
        background-color : #ffffff;
        .conditional{
            background-color : rgba(22,104,21,0.15);
            color : #166815;
            text-align : center;
        }
    }
    .condition-2{
        background-color : #ffffff;
        .conditional{
            background-color : rgba(255,0,0,0.15);
            color : #ff0000;
            text-align : center;
        }
    }
}