<div class="mx-auto app-login-box col-md-12">
    <div class="ev-notify">
        <p-messages></p-messages>
    </div>
    <div class="app-logo-inverse mx-auto mb-3"></div>
    <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
            <div class="modal-body">
                <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                        <div translate>RECOVER_PASSWORD</div>
                        <span></span>
                    </h4>
                </div>
                <form class="" [formGroup]="form" #detailForm>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label class="d-none emailFieldName" translate>EMAIL</label>
                                <input type="text" pInputText placeholder="{{'EMAIL_HERE' | translate}}" class="form-control" id="id" formControlName="email" />
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <div class="divider"></div> -->
                <!-- <h6 class="mb-0">No account? <a href="javascript:void(0);" class="text-primary">Sign up now</a></h6> -->
            </div>
            <div class="modal-footer clearfix">
                <div class="float-left">
                    <a href="javascript:void(0);" class="btn-lg btn btn-link text-primary" (click)="loadLoginPage()" translate>LOGIN_LINK_TXT</a>
                </div>
                <div class="float-right">
                    <button class="btn btn-primary btn-lg" (click)="resetPassword()" translate>RECOVER_PASSWORD</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center text-white opacity-8 mt-3">Privacy Statement</div>
    <button class="d-none" type="submit" #submitBtn></button>
</div>